*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
/build-aux
compile
config.h
config.h.in
config.log
config.status
config.guess
config.rpath
config.sub
/config
configure
depcomp
gnome-doc-utils.make
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
stamp-h1
test-driver
test-*.log
test-*.trs
tests/T20064.171120-020312.img*
tests/test-dmi
tests/test-scribe
tests/test-unattended-config
tests/w-8193.img*
tests/w.img*
tests/w.truncated*
*~

eos-installer-data/com.endlessm.Installer.desktop

eos-installer-*.tar.gz
eos-installer-*.tar.bz2
eos-installer-*.tar.xz

ext/test-libglnx-errors
ext/test-libglnx-fdio
ext/test-libglnx-macros
ext/test-libglnx-shutil
ext/test-libglnx-xattrs

gnome-image-installer/gnome-image-installer

gnome-image-installer/gis-assistant-resources.[ch]
gnome-image-installer/pages/confirm/confirm-resources.[ch]
gnome-image-installer/pages/diskimage/diskimage-resources.[ch]
gnome-image-installer/pages/disktarget/disktarget-resources.[ch]
gnome-image-installer/pages/finished/finished-resources.[ch]
gnome-image-installer/pages/install/install-resources.[ch]

gnome-initial-setup/gis-assistant-resources.[ch]
